/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(http://fonts.googleapis.com/css?family=Satisfy);


/*-------------Custom Styles-------------*/

body {
	background-image: url('../images/first-image.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 65.237rem;
	width: 100%
}

.main {
	width: 100%;
}

.container {
	margin: 65px auto;
	text-align: center;
	height: 686px;
	width: 647px;
	background-image: url('../images/home-img-647x686.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}

.content {
	display: inline-block;
	margin-top: 135px;
	margin-left: -15px;
	width: 500px;
}

.logo {
	height: 86px;
	width: 224px;
	margin: 15px auto;
}

.container .add-text {
	color: white;
	font-size: .95rem;
	font-family: 'Verdana', cursive;
}

.input-container {
	overflow: hidden;
	margin: 10px 0;
}

.input {
	height: 48px;
	width: 265px;
	background-color: LightGray;
	border-radius: 15px;
	border: 2px solid red;
	float: left;
	margin-left: 115px;

	
}

.input p {
	font-size: 2rem;
	font-color: #000;
	padding: 5px 0 0 10px;
	text-align: left;
}

.add-btn {
	float: left;
	margin-left: 20px;
}

.clear {
	clear: both;
}

.list {
	width: 300px;
	height: 250px;
	background-color: LightGray;
	border: 2px dashed red;
	border-radius: 15px;
	margin: 0 auto;
	text-align: left;
	padding: 20px;
}

.list li {
	display: block;
	line-height: 2rem;
	border-bottom: 1px solid #c1c1c1;

}

.list-items .off {
	text-decoration: line-through;
}

li:after {
	content: url('../images/checkmark.png');
	float: right;
}

.credits {
	margin-top: 10px;
	font-family: 'Satisfy', cursive;
	font-size: 1.35rem;
	color: white;
}